<p class="no"><%= notice %></p>

<p><strong>Title</strong><%= @list.title %></p>
<p><strong>Body</strong><%= @list.body %></p>
<%= link_to 'Edit', edit_book_path(@list) %>
<%= link_to 'Back', books_path %>
